{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% tailwind_css %}
        {% block meta %}
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+J4jsl5c9zdLKaUk5Ae5f5b1bw6AUn5f5v8FZJoMxm6f5cH1" crossorigin="anonymous"></script>
        {% endblock meta %}
    </head>

    <body class="bg-blue-100">
        {% block content %}
        {% endblock content %}
    </body>
</html>