{% extends 'base.html' %}

{% block content %}
    <h1>{{app_name}}</h1>

    <h2>{{student_name}} - {{class}}</h2>

    <h3>There are currently {{books|length}} book titles stored in the system</h3>

    <table>
        <tr>
            <th>Name</th>
            <th>Author</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Description</th>
        </tr>

        {% for book in books %}
            <tr>
                <td>{{book.name}}</td>
                <td>{{book.author}}</td>
                <td>{{book.amount}}</td>
                <td>{{book.category}}</td>
                <td>{{book.description}}</td>
            </tr>
        {% endfor %}
    </table>

    <br />

    <a href="{% url 'main:add_book' %}">
        <button>
            Add New Book
        </button>
    </a>

{% endblock content %}

