{% extends 'base.html' %}

{% block content %}
    <h1>{{app_name}}</h1>

    <h2>{{name}} - {{class}}</h2>

    <h3>There are currently {{total_books}} books with {{books|length}} book titles stored in the system</h3>

    <table>
        <tr>
            <th>Name</th>
            <th>Author</th>
            <th>Category</th>
            <th>Amount</th>
            <th>Description</th>
            <th colspan="3">Actions</th>
        </tr>

        {% for book in books %}
            <tr>
                <td>{{book.name}}</td>
                <td>{{book.author}}</td>
                <td>{{book.category}}</td>
                <td>{{book.amount}}</td>
                <td>{{book.description}}</td>
                <td>
                    <form action="{% url 'main:add_book_amount' book.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" name="Increment">➕</button>
                    </form>
                </td>
                <td>
                    <form action="{% url 'main:dec_book_amount' book.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" name="Decrement">➖</button>
                    </form>
                </td>
                <td>
                    <form action="{% url 'main:remove_book' book.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" name="Remove">❌</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>

    <h5>Sesi terakhir login: {{ last_login }}</h5>

    <br />

    <a href="{% url 'main:add_book' %}">
        <button>
            Add New Book
        </button>
    </a>

    <a href="{% url 'main:logout' %}">
        <button>
            Logout
        </button>
    </a>

{% endblock content %}

